---
import IconButton from "../../components/IconButton.astro";
import logo from "../../media/logo.png";
import "../../main.css";
import "@fontsource/montserrat";
import s from "./mainlayout.module.scss";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-color_bg">
    <header class={s.header}>
      <IconButton img={logo} pageLink={"/"} width="200px" />
      <nav class={s.header_navbar}>
        <a href="#">Задачи</a>
        <a href="/aboutus/">О нас</a>
        <button class={s.header_sources}>Источники</button>
        <button class={s.header_enter}>ВОЙТИ</button>
      </nav>
    </header>
    <slot />
  </body>
</html>
