---
import IconButton from "../components/IconButton.astro";
import MainLayout from "../layouts/MainLayout/index.astro";
import homepic_1 from "../media/homepic_1.jpg";
import svg_arrow from "../media/arrow-small-right.svg";
import progArr from "../media/progressArrow.svg";
import mail from "../media/mail.svg";
import map from "../media/map.svg";
import "../main.css";
import SwitchingTitle from "../components/SwitchingTitle";
import FooterCard from "../components/FooterCard.astro";
---

<MainLayout title="algo_helper">
  <main
    class="flex px-[160px] 2xl:mt-[130px] lg:mt-[90px] flex-col justify-between items-center min-w-[95%]"
  >
    <div class="flex mb-5">
      <section class="mr-[150px]">
        <div class="text-white">
          {(<SwitchingTitle client:visible />)}
          <p class="text-center mb-[67px]">
            Твой путеводитель в обучении алгоритмам и подготовке к интервью
          </p>
        </div>
        <div class="flex justify-center items-center">
          <button
            class="bg-gradient-to-r from-color_button1 to-color_button2 w-[240px] h-[80px] rounded-[40px] text-xl font-extrabold"
            >СТАРТ</button
          >
          <IconButton pageLink={"#"} img={svg_arrow} height="80px" />
        </div>
      </section>
      <section>
        <img
          src={homepic_1}
          alt="pic"
          class="rounded-[100px] border-[27px] border-soft_black min-w-[600px] h-[415px]"
        />
      </section>
    </div>
    <footer
      class="min-w-full bg-dark_blue rounded-[90px] h-[150px] grid grid-cols-3 items-center text-white"
    >
      <FooterCard
        pageLink={"#"}
        img={progArr}
        title="Прогресс"
        content="Здесь вы можете увидеть на сколько вы приуспели в обучении"
      />
      <FooterCard
        pageLink={"#"}
        img={mail}
        title="Поддержка"
        content="https://t.me/username"
      />
      <FooterCard
        pageLink={"#"}
        img={map}
        title="Роадмап"
        content="Здесь ты узнаешь в каком порядке тебе изучать блоки с задачами"
      />
    </footer>
  </main>
</MainLayout>
